.pop{
	.pop_mask{
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .8);
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99;
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s;
	}

	.pop_main{
		width: 94%;
		position: fixed;
		top: 10%;
		left: 3%;
		backface-visibility: hidden;
		background: #35373B;
		z-index: 100;
	    border-radius: 0 0 5px 5px;
	    font: 16px/1.5 Microsoft Yahei,arial,\5b8b\4f53;
	    transform: translateY(10%);
		opacity: 0;
		visibility: hidden;
		backface-visibility: hidden;
		transition: all 0.3s;
	}

	.pop_main_show{
		transform: translateY(0);
		visibility: visible;
		opacity: 1;
	}

	.pop_main_show~.pop_mask{
		visibility: visible;
		opacity: 1;
	}

	.menu{
	    width: 100%;
	    float: left;
	    border-bottom: 1px solid #3F4146;
	    background: #212225;
	    line-height: 2rem;
	    margin: 0 0 1rem 0;
		
		a{
		    width: 50%;
		    float: left;
		    color: #999;
		    font-size: .8rem;
		    display: block;
		    text-align: center;
		}
		
		.active {
		    background: #3f4146;
		    color: #FFF;
		}
	}

	.login,.register{
		width: 100%;
		height: auto;
		overflow: hidden;
		padding: 0 0 1rem 0;
	}

	p{
		width: 100%;
		position: relative;
		float: left;
	}

	input{
		display: block;
	    width: 84%;
	    float: left;
	    margin: 0 0 .7rem 8%;
	    border: 1px solid #3F4146;
	    line-height: 1.6rem;
	    height: 1.6rem;
	    font-size: .7rem;
	    border-radius: 5px;
	    text-indent: 5px;
	    background: #2f3034;
	    color: #FFF;
	}

	.vcode{
		position: absolute;
	    display: block;
	    width: 3.2rem;
	    height: 1.6rem;
	    top: 1px;
	    right: 8%;
	    border-radius: 0 5px 5px 0;
	}

	.btn{
		display: block;
	    width: 84%;
	    float: left;
	    color: #FFF;
	    font-size: .8rem;
	    height: 1.7rem;
	    line-height: 1.7rem;
	    text-align: center;
	    margin: 0 0 0 8%;
	    border-radius: 5px;
	    background: #53565c;
	}

	.send_btn{
		position: absolute;
	    top: 0;
	    right: 10%;
	    display: inline-block;
	    color: #5191f2;
	    text-decoration: underline;
	    line-height: 1.6rem;
	    height: 1.6rem;
	    font-size: .7rem;
	    padding-left: .7rem;
	}

	.close{
		width: 1.2rem;
		height: 1.2rem;
		position: absolute;
		top: -2.5rem;
		left: 50%;
		transform: translate(-50%, 0);
		border: 2px solid #686c73;
		z-index: 100;
		border-radius: 50%;
	}

	.close:before,.close:after{
		position: absolute;
		width: 80%;
		height: 2px;
		background: #686c73;
		content: '';
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}
	
	.close:before{
		transform: rotate(45deg);
	}

	.close:after{
		transform: rotate(-45deg);
	}

	.tips{
		background: rgba(0 ,0, 0, .7);
		position: absolute;
		padding: .5rem;
		text-align: center;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -40%);
		z-index: 101;
		color: #FFF;
		border-radius: 5px;
		opacity: 0;
		visibility: hidden;
		transition: all .3s;
	}

	.tipsshow{
		opacity: 1;
		visibility: visible;
		transform: translate(-50%, -50%);
	}


}
