<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta content="IE=dege,chrom=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
    <title>书单实例-计算属性</title>
</head>
<body>
    <div id="app">
        <h3>我的余额：{{ myBalance.toFixed(2) }}</h3>
        <div style="float: left; width: 200px;">
            <h3>愿望清单：</h3>
            <ul>
                <li v-for="(item,index) in wishList">
                    <h2>{{ item.name }}元</h2>
                    <p>{{ item.price.toFixed(2) }}</p>
                    <button @click="buyBook(item.id)">立即购买</button>
                </li>
            </ul>
        </div>
        <div style="float: right; width: 200px;">
            <h3>已购清单：</h3>
            <ul>
                <li v-for="(item,index) in myBooks">
                    <h2>{{ item.name }}元</h2>
                    <p>{{ item.price.toFixed(2) }}</p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>